.vscode/**
.vscode-test/**
src/**
node_modules/**
test/**
esbuild.js
tsconfig.json
**/*.ts
**/*.map
.gitignore
jest.config.js
.eslintrc.json
!out/**
!resources/**
!package.json
!package.nls*.json
!README.md
!LICENSE
!out/sql-wasm.wasm
